.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.75rem;
}

.user-name {
  font-weight: 500;
}

.totals-box {
  width: 200px;
}

.totals-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.value {
  font-weight: 500;
}

.positive {
  color: #16a34a;
}

.negative {
  color: #ef4444;
}

.neutral {
  color: #000;
}

.dialog-box {
  width: 25rem;
}
