<div class="flex items-center gap-4 mb-4">
  <label for="description" class="font-semibold w-24">Descrição</label>
  <div class="flex flex-col flex-auto">
    <input pInputText id="description" [formControl]="form.controls['description']" class="flex-auto"
      autocomplete="off" />
    <div *ngIf="form.controls['description'].invalid && form.controls['description'].touched"
      class="text-red-500 text-sm">
      A descrição é obrigatória
    </div>
  </div>
</div>
<div class="flex items-center gap-4 mb-4">
  <label for="amount" class="font-semibold w-24">Valor</label>
  <div class="flex flex-col flex-auto">
    <input pInputText [formControl]="form.controls['amount']" inputId="amount" class="flex-auto" autocomplete="off" />
    <div *ngIf="form.controls['amount'].invalid && form.controls['amount'].touched" class="text-red-500 text-sm">
      O valor é obrigatório
    </div>
  </div>
</div>

<div class="flex items-center gap-4 mb-4">
  <label for="amount" class="font-semibold w-24">Pessoal</label>
  <div class="flex flex-col flex-auto">
    <p-checkbox  [formControl]="form.controls['isPersonal']" binary="true"></p-checkbox>
  </div>
</div>

<div class="flex justify-end gap-2">
  <p-button label="Cancel" severity="secondary" (click)="onCancel()" />
  <p-button label="Save" (click)="saveEntry()" />
</div>