<div class="entry-form">
<div class="flex items-center gap-4 mb-4">
  <label for="description" class="font-semibold w-24 entry-label">Descrição</label>
  <div class="flex flex-col flex-auto">
    <input pInputText id="description" [formControl]="form.controls['description']" class="flex-auto"
      autocomplete="off" />
    <div *ngIf="form.controls['description'].invalid && form.controls['description'].touched"
      class="text-red-500 text-sm">
      A descrição é obrigatória
    </div>
  </div>
</div>
<div class="flex items-center gap-4 mb-4">
  <label for="amount" class="font-semibold w-24 entry-label">Valor</label>
  <div class="flex flex-col flex-auto">
    <p-inputNumber 
        mode="currency" 
        currency="BRL" 
        locale="pt-BR" 
        [formControl]="form.controls['amount']"
        inputId="amount"
        autocomplete="off"
        class="flex-auto">
    </p-inputNumber>

    <div *ngIf="form.controls['amount'].invalid && form.controls['amount'].touched" class="text-red-500 text-sm">
      O valor é obrigatório
    </div>
  </div>
</div>

<div class="flex items-center gap-4 mb-4">
  <label for="categoryId" class="font-semibold w-24 entry-label">Categoria</label>
  <div class="flex flex-col flex-auto">
    <p-select
      inputId="categoryId"
      [options]="categories"
      optionLabel="description"
      optionValue="id"
      placeholder="Selecione"
      appendTo="body"
      [formControl]="form.controls['categoryId']"
      class="w-full">
    </p-select>

    @if (form.controls['categoryId'].invalid && form.controls['categoryId'].touched) {
      <div class="text-red-500 text-sm">A categoria é obrigatória</div>
    }
  </div>
</div>

<div class="flex items-center gap-2 mb-4 pessoal-row">
  <label for="isPersonal" class="font-semibold w-24 entry-label">Pessoal</label>
  <p-checkbox
    inputId="isPersonal"
    [formControl]="form.controls['isPersonal']"
    binary="true">
  </p-checkbox>
</div>

<div class="actions mt-4">
  <p-button label="Cancelar" severity="secondary" (click)="onCancel()" class="btn-cancelar" />
  <p-button label="Salvar" (click)="saveEntry()" class="btn-salvar" />
</div>
</div>