<!-- <p-table [value]="entries" 
         styleClass="p-datatable-gridlines my-custom-table"
         showGridlines
         stripedRows
         [size]="'small'"
         [paginator]="true"
         [rows]="15">

    <ng-template pTemplate="header">
        <tr>
            <th class="col-descricao">Descrição</th>
            <th class="col-category">Categoria</th>
            <th class="col-data">Data</th>
            <th class="col-valor">Valor</th>
            <th class="col-acoes">Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entry>
        <tr>
            <td>
                {{ entry.description }}
            </td>

            <td>
                <p-chip class="!py-0 !pl-0 !pr-4" styleClass="my-custom-chip">
                    <span class="bg-primary text-primary-contrast ml-3 flex items-center justify-center">
                        <span class="material-icons">{{ getCategoryIcon(entry?.category?.id) }}</span>
                    </span>
                    <span class="ml-2 font-medium">
                        {{ entry?.category?.description }}
                    </span>
                </p-chip>
            </td>

            <td>
                {{ entry.date | date: 'dd/MM/yyyy' }}
            </td>

            <td>    
                {{ entry.amount | currency: 'BRL': 'symbol':'1.2-2':'pt-BR' }}  
            </td>

            <td>
                <div> -->
                    <!-- <p-button [routerLink]="[entry.id, 'edit']" icon="pi pi-pencil" styleClass="p-button-rounded p-button-warning p-button-outlined p-button-sm mr-2"></p-button> -->
                    <!-- <p-button (click)="confirm(entry)" icon="pi pi-trash" styleClass="p-button-rounded p-button-danger p-button-outlined p-button-sm"></p-button> -->
                    <!-- <button pButton 
                            icon="pi pi-pencil" 
                            class="p-button-rounded p-button-sm p-button-info"
                            (click)="onEdit.emit(entry)">
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table> -->
